label {
    color: #fff;
    padding: 10px 0 5px 0;
}

form {
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    margin: auto;
    max-width: 600px; 
}

from input, form textarea, .input {
    margin-bottom: 15px;
    padding: 10px 18px;
    font-size: 20px;
    background-color: rgba(225, 225, 225, 0.1);
    border-color: rgba(225, 225, 225, 0.1);
    color: #f4f4f4;
}