.footer {
    width: 100%;
    padding: 50px 0;
    background-color: rgba(19, 19, 19, 0.8);
}

.footer-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

.left {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.location, .email, .phone { 
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.loaction p {
    line-height: 30px;
}

.phone {
    padding-bottom: 5px;
}

.right {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.social {
    margin-top: 15px;
    display: flex;
    justify-content: left;
    padding-left: 20px;
}

h4 {
    font-size: 24px;
    padding-bottom: 10px;
}

p{
    font-size: 15px;
}

@media screen and (max-width: 640px) {
    .footer-container {
        grid-template-columns: 1fr;
    }
    
}