.project-heading {
    text-align: center;
    padding: 40px 0 20px 0;
}

.container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 50px;
} 

.project-card {
    background: #1a1919;
    padding: 20px 15px;
}

.project-card img {
    width: 100%;
}

.project-title {
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.details p {
    padding-bottom: 25px;
    font-size: 15px;
}

.project-btns {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.project-btns .btn {
    padding: 10px 15ox;
}

@media screen and (max-width: 740px) {
    .container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}